
.start, .runp, .runt, .runc {
  width: 100%; 
  height: 578px;
  gap: 20px;
  margin: 26px;
  display: flex;
  justify-content: center;
  align-items: center; 
  text-transform: uppercase;
  border-radius: 50px;
  font-family: Verdana;
  color: #000;
  align-items: flex-start; 
}
.start, .runp,  .runc {
  background-color: #ede7e7;
}
.runt {
  background-color: #f14d4d;
  color: #fff;
}

.hind {
  display: flex;
  width: 100%;
  height: 578px;
  display: flex;
  text-align: center;
  
}

.price {
  font-size: 50px;
  margin-top: -8px;
  font-family: 'Open Sans';
}

.start ul, .runp ul, .runt ul, .runc ul {
  list-style-type: none; 
  padding: 0;
  text-align: left;
  font-size: 14px;
  line-height: 1.6;
  text-align: center;
  
  
}

.per {
  font-family: 'Open Sans';
  margin-top: -25px;
  font-size: 18px;

}

.button {
  background-color: #40e0d0; 
  color: white; 
  border: none; 
  border-radius: 250px; 
  padding: 10px 40px;
  margin-top: 15px; 
  font-size: 16px; 
  cursor: pointer; 
  transition: all 0.3s ease;
  text-transform: uppercase;
  font-family: 'Open Sans';

}

.button:hover {
  background-color: #33c2b0; 
  color: #f0f8ff; 
  transform: scale(1.05); 
}


.button1 {
  background-color: #ffffff; 
  color: black; 
  border: none; 
  border-radius: 250px; 
  padding: 10px 40px;
  margin-top: 15px; 
  font-size: 16px; 
  cursor: pointer; 
  transition: all 0.3s ease;
  text-transform: uppercase;
  font-family: 'Open Sans'; 
}

.button1:hover {
  background-color: #aa1313; 
  color: #f0f8ff; 
  transform: scale(1.05); 
}




.background2 {
  background-color: #ecf3f1;
  width: auto;
  top: 100px;
  height: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

}